<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HR application</title>
</head>
<body>
<h1>Edit employee</h1><br/><br/>

<form th:action="@{/updateEmployee}" method="post" th:object="${employee}">
	<input th:field="*{id}" type="hidden" /><br/>
	Id: <span th:text="*{id}">Id</span> <br/>
	Name: <input th:field="*{name}" /><br/>
	Position: <input th:field="*{position}" /><br/>
	Salary: <input th:field="*{salary}" /><br/>
	Begin Date: <input th:field="*{begin}" /><br/>
	<input type="submit" value="Save" />
</form>

</body>
</html>