<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HR Application</title>
</head>
<body>
<h1>Welcome to the HR application!</h1> <br/><br/><br/>
<h1>List of employees</h1>

<table border=3>
<thead>
<tr>
	<th>ID</th>
	<th>Name</th>
	<th>Position</th>
	<th>Salary</th>
	<th>Begin Work Date</th>
</tr>	
</thead>
<tbody>
<tr th:each="employee: ${employees}">
	<td th:text="${employee.id}">Id</td>
	<td><a th:href="@{/{id}(id=${employee.id})}" th:text="${employee.name}"> name </a></td>
	<td th:text="${employee.position}">position</td>
	<td th:text="${employee.salary}">salary</td>
	<td th:text="${employee.begin}">begin</td>
	<td><a th:href="@{/delete/{id}(id=${employee.id})}" > Delete </a></td>
</tr>
</tbody>
</table>

<h2>Add a new employee</h2><br/><br/>
<form th:action="@{/}" method="post" th:object="${newEmployee}">
	Id: <input th:field="*{id}" /><br/>
	Name: <input th:field="*{name}" /><br/>
	Position: <input th:field="*{position}" /><br/>
	Salary: <input th:field="*{salary}" /><br/>
	Begin Date: <input th:field="*{begin}" /><br/>
	<input type="submit" value="Add" />

</form>
</body>
</html>